.film {
  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .film {
    &-list {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1030px) {
  .film {
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
