<app-navbar></app-navbar>
<div class="main" [ngClass]="{ light: !darkTheme.themeDark }">
  <!-- Search Bar -->
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (keyup)="onSearch($event)"/>
  <div *ngIf="!searchTerm">
    </div>
  <ul>
    <li *ngFor="let item of filteredItems">{{ item.name }}</li>
  </ul>

  <router-outlet></router-outlet>
</div>

<!-- Create A Service Which Handles The State Of Theme Mode -->
<button
  class="theme-btn"
  [ngClass]="{ light: !darkTheme.themeDark }"
  (click)="changeTheme()"
>
  @if(darkTheme) {
  <i class="pi pi-moon" style="font-size: 25px"></i>
  } @else {
  <i class="pi pi-sun" style="font-size: 25px"></i>
  }
</button>
