// Dark Mode Color Theme
$dark-bg: #111135;
$dark-nav-bg:#26264d;
$dark-icon: #62669c;
$dark-font-color: #fff;

// Light Mode Color Theme
$light-background: #fff;
$light-nav-background: #f5f5f5;
$light-font-color: #000;

// Base Styles
$font-op: .7;