// Dark Mode Color Theme
$dark-bg: #111135;
$dark-nav-bg: #26264d;
$dark-icon: #62669c;
$dark-font-color: #fff;

// Light Mode Color Theme
$light-bg: #fff;
$light-nav-background: #f0c4c4;
$light-font-color: #000;

// Base Styles
$font-op: 0.7;
